.container-header {
  padding: 5px 30px;
  margin-bottom: 1.5rem;
  background-color: #fff;
  line-height: 40px;
  border-bottom: 1px solid #e4e9f0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .header-title {
    font-size: 13px;
    color: #de1d0f;
    font-weight: 550;
    text-transform: uppercase;
  }
  .align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
