.home {
  .ant-carousel .slick-slide {
    text-align: center;
    height: 400px;
    overflow: hidden;
  }

  .ant-carousel .slick-slide img {
    width: 100%;
  }
  .home-contain {
    margin-top: 15px;
    padding: 0 10px;
    p {
      font-size: 18px;
    }
  }
}
